<a href="https://colab.research.google.com/github/Kaustav86x/Python/blob/gh-pages/saimple_database_application.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import sqlite3

conn = sqlite3.connect('orgdb.sqlite')
cur = conn.cursor() #cursor is kind of like a gateway

cur.execute('DROP TABLE IF EXISTS Counts')

cur.execute('CREATE TABLE Counts(org TEXT, count INTEGER)')

fname = input('Enter file name: ')
'''if(len(fname) < 1):
    fname = 'mbox.text'''
fh = open(fname)
for line in fh:
    if not line.startswith('From: '):
        continue
    pieces = line.split()
    org = pieces[1]
    parts = org.split('@')
    org = parts[-1]
    cur.execute('SELECT count FROM Counts WHERE org = ? ', (org,)) # ? - is a placeholder
    #which don't allow sql injection
    row = cur.fetchone()
    if row is None:
        cur.execute('INSERT INTO Counts (org, count) VALUES (?, 1)', (org,))
    else:
        cur.execute('UPDATE Counts SET count = count + 1 WHERE org = ?',(org,))
        
    conn.commit()

sqlstr = 'SELECT org, count FROM Counts ORDER BY count DESC LIMIT 10'


print("Counts: ")
for row in cur.execute(sqlstr):
    print(str(row[0]), row[1])  
    
cur.close()